.modal {
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    .close {
      padding: 1rem 1rem;
      margin: -1rem -1rem -1rem auto;
      cursor: pointer;
      float: right;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      color: #140f203b;
      text-shadow: 0 1px 0 #fff;
      background: none;
      border: 0;
      &:hover,
      &:focus {
        color: #000;
      }
    }
    .modal-title {
      margin: 0;
      line-height: 1.5;
      font-size: 18px;
    }
  }

  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
}
